h1,
p {
  font-family: Lato;
}

.topNavItems {
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  list-style-type: none;
}
.abc {
  display: flex;
  justify-content: space-between;
}
.sideNavItems {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
